<header class="header-image">
  <div class="headline">
    <div class="container">
      <h2><i class="fa fa-wrench"></i> Coach Dashboard</h2>




    </div>
  </div>
</header>


<div class="row">
  <div class="center">
  <div class="row vdivide">
  <div class="col-md-3 label">
    <div class="subtitle">Upcoming Training Sessions</div>
    <hr>
      <div class="font caption">Coming Soon... Maybe...</div>

  </div>
  <div class="col-md-6">
    <div class="subtitle">Makerspace Updates</div>
    <%if session[:visited]%>
        <%if @user.perm > 2  %>
            <a id="newblogpost">New update <i class="fa fa-plus fa-lg"></i></a>

        <% end %>
    <% end %>
    <hr>

    <div class="center">

      <% @posts.each do |post| %>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title font subtitle"><%= post.title %>
                <!--<form method="post"  action="/post/delete/<%= post.id %>">
                    </form>-->
                <%if session[:visited]%>
                    <%if @user.perm >= 2 %>
                        <a  class="delete"><i class="fa fa-times"></i></a>
                    <%end%>
                <%end%>

              </h3>
            </div>
            <div class="panel-body">
              <img class="postimage font" src="<%= post.url %>">
              <hr>
              <div class="caption font blogPost">
                <%= post.content %><br>
                <div><%= post.url %></div>
              </div>
            </div>
            <div class="panel-footer date"><%= post.date.strftime("Posted on %B %-d, %Y at %-l:%M %p") %></div>
          </div>









          <div class="modal fade" id="postDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Are you sure you would like to delete the post "<%= post.title %>"?</h4>
                </div>
                <form class="" method="post" action="/post/delete/<%= post.id %>">
                  <fieldset>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Calcel</button>
                      <button  type="submit" class="btn btn-danger">Delete Post</button>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>





      <%end%>
    </div>
  </div>

  <div class="col-md-3 label">
    <div class="subtitle">Toolbox</div>

    <hr>
    <a class="btn btn-primary" href="https://wplmakerspace.slack.com"><i class="fa fa-slack fa-lg"></i> Communicate with other coaches on Slack</a><br>
    <a class="btn btn-info" id="openSuggest"><i class="fa fa-comment-o fa-lg"></i> Make a suggestion about the website</a>
  </div>
  </div>
</div>
</div>
<div class="row">
  <div class="center">
    <div class="row vdivide">

      <div class="col-md-3 caption font"></div>
      <div class="col-md-6">
      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="center">
    <div class="row vdivide">
      <div class="col-md-3 label">
      </div>
      <div class="col-md-6 label"></div>
      <div class="col-md-3 label"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="center">
    <div class="row vdivide">

      <div class="col-md-3"></div>
      <div class="col-md-6"></div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>



<%if session[:visited] && @user.perm>2%>
    <div class="modal fade" id="postCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"></h4>
          </div>
          <form class="" method="post" action="/post/create/update">
            <div class="modal-body">
              <fieldset>
                <div class="form-group">
                  <label class="font">Post Title</label>
                  <input minlength="2" required class="form-control" type="text" name="title">
                </div>
                <div class="form-group">
                  <label class="font">Temp</label>
                  <input minlength="2" class="form-control" name="url">
                </div>
                <div class="form-group">
                  <label class="font">Content</label><br>
                  <textarea class="form-control postContent" name="content"></textarea>
                </div>
                <div class="form-group">
                  <label class="font">CURRENTLY NOT WORKING!</label>
                  <input class="font" type="file" name="notworking">
                </div>
                <div class="alert alert-info email" role="alert">
                  <strong>Important!</strong> If you plan on adding boldface, italics or line breaks use the HTML, until I can get it working. To bold, use &lt;b&gt;BOLD FACE TEXT&lt;/b&gt;, &lt;i&gt;italic text&lt;/i&gt;,<br> one line&lt;br&gt; new line
                </div>
              </fieldset>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default font" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary font">Post</button>
            </div>
          </form>
        </div>
      </div>
    </div>


<%end%>
<div class="modal fade" id="suggestionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Type Your suggestion for the makerspace website</h4>
      </div>
      <form class="" method="post" action="/email/web/suggest">
        <div class="modal-body">
          <fieldset>

            <div class="form-group">
              <label class="font">Content</label><br>
              <textarea class="form-control postContent" name="suggestion"></textarea>
            </div>
            <div class="alert alert-info email" role="alert">
              <strong>Important!</strong> If you plan on adding boldface, italics or line breaks use the HTML, until I can get it working. To bold, use &lt;b&gt;BOLD FACE TEXT&lt;/b&gt;, &lt;i&gt;italic text&lt;/i&gt;,<br> one line&lt;br&gt; new line
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default font" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary font">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>

